.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 5px;
  gap: 5px;


  background-color: transparent;
}

.container div {
  
  background-color: rgba(0, 0, 0, 0.6);
  color: #f1f1f1;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}


h1 {
  color: #ff0019;
}
