.container {

  display: grid;

  grid-template-columns: 1fr 1fr 1fr;

  background-color: dodgerblue;

  padding: 5px;

  gap: 5px;

}

.container div {

  background-color: #070000;

  color: #3c01ff;

  padding: 10px;

  font-size: 30px;

  text-align: center;

}
 